:root {
  --progress-prev: 0%;
}

.cart-shipping {
  --progress: 0%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 2.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
@media screen and (min-width: 576px) {
  .cart-shipping {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.cart-shipping__message {
  display: none;
  align-items: center;
  gap: 0.6rem;
  margin: 0;
}
.cart-shipping__message.active {
  display: flex;
}
.cart-shipping__message svg {
  display: none;
  flex-shrink: 0;
}
.cart-shipping__message_success svg {
  display: block;
  flex-shrink: 0;
}
.cart-shipping__progress {
  position: relative;
  display: block;
  width: 100%;
  height: 0.4rem;
  background: rgb(var(--color-border));
  overflow: hidden;
}
.cart-shipping__progress-current {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(var(--color-accent));
  width: var(--progress-prev);
  transition: width var(--duration-default);
}
.cart-shipping__message {
  color: rgb(var(--color-foreground-secondary));
  font-size: 1.4rem;
}