.blog .article-card-row .article-card-row {
  border-radius: 0.2rem;
}
.blog .article-card-row .article-card-row__meta span {
  font-size: 1.4rem;
}
.blog .subtitle {
  text-transform: none;
  letter-spacing: -0.02em;
  font-size: 1.4rem;
}
.blog__title__btn {
  display: flex;
  gap: 0.8rem;
}
@media (max-width: 576px) {
  .blog__title__btn {
    margin-bottom: 2.4rem;
    flex-wrap: wrap;
  }
}
.blog_no-heading {
  gap: 1.6rem 2rem;
}
.blog__title-wrapper {
  grid-column: span 2;
  align-self: center;
}
@media screen and (min-width: 576px) {
  .blog__title-wrapper {
    grid-column: unset;
  }
}
.blog__title-wrapper .subtitle {
  margin-bottom: 1.2rem;
}
.blog__title-wrapper_no-heading .subtitle {
  margin-bottom: 0;
}
.blog__title-wrapper--subtitle {
  margin-bottom: 1.6rem;
}
.blog__title {
  margin: 0;
}
.blog__title.h2 {
  max-width: 45.7rem;
}
.blog__title.subtitle {
  margin: 0;
}
.blog__button-wrapper {
  grid-row: 3;
  grid-column: span 2;
  align-self: center;
}
.blog__button-wrapper:first-of-type {
  grid-row: 2;
  grid-column: span 2;
}
.blog__button-wrapper .button {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .blog__button-wrapper {
    grid-row: unset;
    grid-column: unset;
    text-align: end;
  }
  .blog__button-wrapper:first-of-type {
    grid-row: unset;
  }
  .blog__button-wrapper .button {
    width: auto;
  }
  .blog__button-wrapper .button span {
    padding: 0;
  }
}
.blog__button-wrapper_desktop {
  display: none;
}
@media screen and (min-width: 576px) {
  .blog__button-wrapper_desktop {
    display: flex;
  }
}
.blog__button-wrapper_mobile {
  display: flex;
}
@media screen and (min-width: 576px) {
  .blog__button-wrapper_mobile {
    display: none;
  }
}
.blog .blog-apparel-placeholder {
  margin-top: auto;
}
.blog__posts {
  grid-column: span 2;
  display: grid;
  padding: 0;
  margin: 0;
}
.blog__posts--column {
  gap: 2.4rem;
}
@media (min-width: 990px) {
  .blog__posts--column {
    gap: 4.7rem 2.4rem;
  }
}
@media screen and (min-width: 576px) {
  .blog__posts--column {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .blog__posts--column {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1360px) {
  .blog__posts--column {
    grid-template-columns: repeat(5, 1fr);
  }
}
.blog__posts--column .article-content {
  padding: 2.4rem 0 0 0;
}
@media (max-width: 576px) {
  .blog__posts--column .article-content {
    padding: 1rem 0 0 0;
  }
}
.blog__posts--column .article-card__image-wrapper {
  border-radius: 0.2rem;
}
.blog__posts--column .article-card__tag {
  background: none;
}
.blog__posts--column .article-card__tag a {
  text-transform: none;
}
.blog__posts--column .article-card__tags {
  position: static;
}
.blog__posts--column .article-card__tags .article-card__tag a {
  color: inherit !important;
  padding-left: 0;
}
.blog__posts--grid {
  display: grid;
  gap: 0.8rem;
}
.blog__posts--grid .article.color-background-1 .article-card-row__content {
  background-color: rgb(var(--color-background));
}
.blog__posts--grid .article.color-background-2 {
  background: none;
}
@media screen and (min-width: 990px) {
  .blog__posts--grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1360px) {
  .blog__posts--grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
  }
}
.blog__posts--grid.blog__posts--4-items {
  gap: 2.4rem;
}
@media (min-width: 990px) {
  .blog__posts--grid.blog__posts--4-items {
    gap: 4.7rem 2.4rem;
  }
}
.blog__posts--grid.blog__posts--4-items .article-card-row__title {
  font-size: calc(var(--font-heading-h4-scale) * 2rem);
}
.blog__posts--grid.blog__posts--4-items .article-card-row__image-wrapper {
  width: 287px;
}
@media (max-width: 576px) {
  .blog__posts--grid.blog__posts--4-items .article-card-row__image-wrapper {
    width: 100%;
  }
  .blog__posts--grid.blog__posts--4-items .article-card-row__image-wrapper .media {
    padding-bottom: 70%;
  }
}
@media screen and (min-width: 1360px) {
  .blog__posts--grid.blog__posts--4-items .article {
    grid-column: span 3;
  }
}
.blog__posts--grid.blog__posts--3-items {
  gap: 2.4rem;
  grid-template-columns: repeat(1, 1fr);
  grid-column: span 4;
}
.blog__posts--grid.blog__posts--3-items .article-card-row__title {
  font-size: calc(var(--font-heading-h4-scale) * 2rem);
}
@media (min-width: 990px) {
  .blog__posts--grid.blog__posts--3-items {
    grid-template-columns: repeat(4, 1fr);
    gap: 4.7rem 2.4rem;
  }
}
@media (min-width: 0) {
  .blog__posts--grid.blog__posts--3-items .article-card-row__content {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .blog__posts--grid.blog__posts--3-items .article-card-row__content {
    width: 70%;
  }
}
@media (min-width: 1100px) {
  .blog__posts--grid.blog__posts--3-items .article-card-row__content {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .blog__posts--grid.blog__posts--3-items .article-card-row__image-wrapper {
    width: 100% !important;
  }
  .blog__posts--grid.blog__posts--3-items .article .media {
    padding-bottom: 70%;
  }
  .blog__posts--grid.blog__posts--3-items .article-card-row__tag {
    margin-bottom: 1.6rem;
  }
}
.blog__posts--grid.blog__posts--3-items .article {
  grid-column: span 2;
}
@media (max-width: 576px) {
  .blog__posts--grid.blog__posts--3-items .article .article-card-row__image-wrapper {
    width: 100% !important;
  }
  .blog__posts--grid.blog__posts--3-items .article .article .media {
    padding-bottom: 30%;
  }
}
@media screen and (min-width: 990px) {
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1), .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) {
    grid-column: span 2;
    grid-row: span 2;
    min-height: 43rem;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__excerpt, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__excerpt {
    font-size: 1.4rem;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article__overlay, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article__overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--color-overlay));
    z-index: 2;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__meta,
.blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__excerpt, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__meta,
.blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__excerpt {
    color: rgb(var(--color-white), 0.6);
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__meta .line-divider:after,
.blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__excerpt .line-divider:after, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__meta .line-divider:after,
.blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__excerpt .line-divider:after {
    background: rgb(var(--color-white), 0.6);
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__info, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__info {
    position: relative;
    gap: 1.1rem;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__tags, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__tags {
    margin-bottom: 0;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__content, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__content {
    min-width: 45.2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4.6rem 5.2rem;
    z-index: 2;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__content .article-card-row__tag, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__content .article-card-row__tag {
    color: rgb(var(--color-white), 0.6);
    margin-bottom: 1.6rem;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__content .article-card-row__tag.subtitle, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__content .article-card-row__tag.subtitle {
    margin: 0;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row {
    flex-direction: row-reverse;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row:hover .article-card-row__title a, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row:hover .article-card-row__title a {
    color: rgb(var(--color-white), 0.6);
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .media--landscape, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .media--landscape {
    padding-bottom: 30%;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .media, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .media {
    padding-bottom: 30%;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__title, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__title {
    color: rgb(var(--color-white));
    font-size: calc(var(--font-heading-h3-scale) * 2.5rem);
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__image-wrapper, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__image-wrapper {
    width: 100%;
  }
  .blog__posts--grid.blog__posts--3-items .article:hover img {
    transform: scale(1.05);
    transition: transform var(--duration-long) ease;
  }
}
@media screen and (min-width: 1360px) {
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1), .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) {
    grid-column: span 2;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .media, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .media {
    padding-bottom: 46.7%;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .media--landscape, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .media--landscape {
    padding-bottom: 46.7%;
  }
  .blog__posts--grid.blog__posts--3-items .article:nth-child(1) .article-card-row__image-wrapper, .blog__posts--grid.blog__posts--3-items .article:nth-child(3n+1) .article-card-row__image-wrapper {
    width: 100%;
  }
}
.blog__posts--grid.blog__posts--2-items {
  gap: 2.4rem;
}
@media (min-width: 990px) {
  .blog__posts--grid.blog__posts--2-items {
    gap: 4.7rem 2.4rem;
  }
}
.blog__posts--grid.blog__posts--2-items .article-card-row__title {
  font-size: calc(var(--font-heading-h4-scale) * 2rem);
}
@media (min-width: 750px) {
  .blog__posts--grid.blog__posts--2-items .article-card-row__title {
    font-size: calc(var(--font-heading-h3-scale) * 2.5rem);
  }
}
@media screen and (min-width: 1360px) {
  .blog__posts--grid.blog__posts--2-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.blog__posts--grid.blog__posts--2-items .article {
  grid-column: span 1;
}
.blog__posts--grid.blog__posts--2-items .article .article-card-row {
  flex-direction: column;
}
.blog__posts--grid.blog__posts--2-items .article .article-card-row__content {
  padding: 2.4rem 0 0 0;
}
@media (max-width: 576px) {
  .blog__posts--grid.blog__posts--2-items .article .article-card-row__content {
    padding: 1rem 0 0 0;
  }
}
.blog__posts--grid.blog__posts--2-items .article .article-card-row__content .article-card-row__tags {
  margin-bottom: 0;
}
.blog__posts--grid.blog__posts--2-items .article .article-card-row__content .article-card-row__tags .subtitle {
  margin: 0;
}
.blog__posts--grid.blog__posts--2-items .article .article-card-row__content .article-card-row__tags .subtitle a {
  padding: 0;
}
.blog__posts--grid.blog__posts--2-items .article .media {
  padding-bottom: 70%;
}
@media (min-width: 576px) {
  .blog__posts--grid.blog__posts--2-items .article .media {
    padding-bottom: 46.7%;
  }
}
.blog__posts--grid.blog__posts--2-items .article .media--landscape {
  padding-bottom: 70%;
}
@media (min-width: 576px) {
  .blog__posts--grid.blog__posts--2-items .article .media--landscape {
    padding-bottom: 46.7%;
  }
}
.blog__posts--grid.blog__posts--2-items .article .article-card-row__image-wrapper {
  width: 100%;
}
.blog__posts--grid.blog__posts--2-items .article .article-card-row__info {
  gap: 1.6rem;
}
@media (min-width: 1360px) {
  .blog__posts--grid.blog__posts--2-items .article-card-row__content {
    width: 55%;
  }
}
@media (min-width: 1600px) {
  .blog__posts--grid.blog__posts--2-items .article-card-row__content {
    width: 50%;
  }
}
.blog__posts--grid.blog__posts--1-items {
  gap: 4.7rem 2.4rem;
}
@media screen and (min-width: 1360px) {
  .blog__posts--grid.blog__posts--1-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.blog__posts--grid.blog__posts--1-items .article-card-row__title {
  font-size: calc(var(--font-heading-h3-scale) * 2.5rem);
}
.blog__posts--grid.blog__posts--1-items .article {
  grid-column: span 1;
}
.blog__posts--grid.blog__posts--1-items .article .article-card-row {
  flex-direction: column;
}
.blog__posts--grid.blog__posts--1-items .article .article-card-row__content {
  padding: 2.4rem 0 0 0;
}
.blog__posts--grid.blog__posts--1-items .article .article-card-row__content .article-card-row__tags {
  margin-bottom: 0;
}
.blog__posts--grid.blog__posts--1-items .article .article-card-row__content .article-card-row__tags .subtitle {
  margin: 0;
}
.blog__posts--grid.blog__posts--1-items .article .article-card-row__content .article-card-row__tags .subtitle a {
  padding: 0;
}
.blog__posts--grid.blog__posts--1-items .article .media {
  padding-bottom: 46.7%;
}
.blog__posts--grid.blog__posts--1-items .article .media--landscape {
  padding-bottom: 46.7%;
}
.blog__posts--grid.blog__posts--1-items .article .article-card-row__image-wrapper {
  width: 100%;
}