.multicolumn .slideshow__navigation {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: flex;
}
@media (min-width: 990px) {
  .multicolumn .slideshow__navigation {
    display: none;
  }
}
.multicolumn .swiper-button-next,
.multicolumn .swiper-button-prev {
  z-index: 2;
  transition: transform var(--duration-default);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  z-index: 20;
  background-color: rgba(var(--color-background-secondary));
}
.multicolumn .swiper-button-next svg,
.multicolumn .swiper-button-prev svg {
  color: rgb(var(--color-foreground));
}
.multicolumn .swiper-button-next:not(.swiper-button-disabled):hover,
.multicolumn .swiper-button-prev:not(.swiper-button-disabled):hover {
  transform: scale(1.05);
}
.multicolumn .swiper-button-next:not(.swiper-button-disabled):hover .icon,
.multicolumn .swiper-button-prev:not(.swiper-button-disabled):hover .icon {
  transform: scale(1.05);
}
.multicolumn .swiper-button-next.swiper-button-disabled,
.multicolumn .swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}
.multicolumn .swiper-button-next.swiper-button-disabled .icon,
.multicolumn .swiper-button-prev.swiper-button-disabled .icon {
  opacity: 0.5;
}
.multicolumn .swiper-button-prev {
  margin-left: 0.5rem;
}
.multicolumn .swiper-button-next {
  margin-right: 0.5rem;
}
.multicolumn__border-bottom {
  border-bottom: 0.1rem solid rgb(var(--color-border));
}
.multicolumn__border-top {
  border-top: 0.1rem solid rgb(var(--color-border));
}
.multicolumn .swiper-buttons {
  display: none;
}
.multicolumn .button--simple-move {
  padding-top: 1.2rem;
  padding-bottom: 0.3rem;
  margin-top: auto;
}
.multicolumn .button--simple-move span:first-child {
  color: rgb(var(--color-foreground-title)) !important;
}
@media screen and (max-width: 991px) {
  .multicolumn .swiper--multicolumn .multicolumn-list__wrapper {
    display: flex;
    grid-template-columns: none;
    gap: 0;
    height: auto;
  }
  .multicolumn .swiper--multicolumn .swiper-buttons {
    margin-top: 0;
  }
}
.multicolumn__nav {
  align-self: center;
  position: static;
  transform: none;
  background-color: rgb(var(--color-button));
}
.multicolumn .no_full {
  max-width: 1530px;
  margin: 0 auto;
}

.multicolumn-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}
.multicolumn-list__item.swiper-slide {
  width: auto;
}
.multicolumn-list.swiper-initialized .multicolumn-list__item {
  width: 100%;
}
.multicolumn-list.swiper-initialized .multicolumn-list__wrapper > * {
  padding: 0;
  border: none;
}
.multicolumn-list.swiper-initialized .swiper-buttons {
  display: flex;
}

.multicolumn-list__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
@media screen and (min-width: 1100px) {
  .multicolumn-list__wrapper {
    gap: 4.8rem 3.75em;
  }
}
.multicolumn-list__wrapper--1 {
  grid-template-columns: 1fr;
}
.multicolumn-list__wrapper--2 {
  grid-template-columns: repeat(2, 1fr);
}
.multicolumn-list__wrapper--3 {
  grid-template-columns: repeat(3, 1fr);
}
.multicolumn-list__wrapper--4 {
  grid-template-columns: repeat(4, 1fr);
}
.multicolumn-list__wrapper .multicolumn-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.2rem;
  height: 100%;
}
@media (min-width: 990px) {
  .multicolumn-list__wrapper .multicolumn-card {
    gap: 5.8rem;
  }
}
.multicolumn-list__wrapper .multicolumn-card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.6rem;
  max-width: 36rem;
  height: 100%;
  max-height: max-content;
}
@media screen and (min-width: 990px) {
  .multicolumn-list__wrapper .multicolumn-card__info {
    max-width: unset;
  }
}
@media screen and (max-width: 770px) {
  .multicolumn-list__wrapper .multicolumn-card__info {
    max-width: 100%;
  }
}
.multicolumn-list__wrapper .multicolumn-card__info .rte {
  max-width: 100%;
  color: rgb(var(--color-foreground-secondary));
}
.multicolumn-list__wrapper .multicolumn-card__heading {
  margin: 0;
}
.multicolumn-list__wrapper .multicolumn-card__description {
  font-size: 1.4rem;
  color: rgb(var(--color-foreground-secondary));
  letter-spacing: -0.02em;
}
.multicolumn-list__wrapper .multicolumn-card__svg-wrapper--medium {
  width: 3.8rem;
  height: 3.8rem;
}
.multicolumn-list__wrapper .multicolumn-card__image-wrapper {
  flex: none;
  align-self: flex-start;
  overflow: hidden;
}
.multicolumn-list__wrapper .multicolumn-card__image-wrapper--small {
  width: 2rem;
  height: 2rem;
}
.multicolumn-list__wrapper .multicolumn-card__image-wrapper--medium {
  width: 3.2rem;
  height: 3.2rem;
}
.multicolumn-list__wrapper .multicolumn-card__image-wrapper .multicolumn-card__image {
  width: 100%;
  height: 100%;
  transition: transform var(--duration-default);
  transform-origin: 50% 50%;
}
.multicolumn-list__wrapper .multicolumn-card__image-wrapper--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.multicolumn-list__wrapper .multicolumn-card__image-wrapper--icon.multicolumn-card__image-wrapper--small.color-no-bg {
  width: auto;
  height: auto;
}
.multicolumn-list__wrapper .multicolumn-card__image-wrapper--icon.multicolumn-card__image-wrapper--small .multicolumn-card__image {
  width: 2rem;
  height: 2rem;
}
.multicolumn-list__wrapper .multicolumn-card__image-wrapper--icon.multicolumn-card__image-wrapper--medium.color-no-bg {
  width: auto;
  height: auto;
}
.multicolumn-list__wrapper .multicolumn-card__image-wrapper--icon.multicolumn-card__image-wrapper--medium .multicolumn-card__image {
  width: 3.2rem;
  height: 3.2rem;
}
.multicolumn-list__wrapper .multicolumn-card__image-wrapper--dark {
  display: none;
}
.multicolumn-list__wrapper .multicolumn-card__button {
  position: relative;
  z-index: 3;
}

[data-scheme=light] .multicolumn-list__wrapper .multicolumn-card__image-wrapper .multicolumn-card__image--dark {
  display: none;
}
[data-scheme=light] .multicolumn-list__wrapper .multicolumn-card__image-wrapper .multicolumn-card__image--light {
  display: block;
}
[data-scheme=light] .multicolumn-list__wrapper .multicolumn-card__image-wrapper .multicolumn-card__image:only-child {
  display: block !important;
}

@media (prefers-color-scheme: light) {
  [data-scheme=auto] .multicolumn-list__wrapper .multicolumn-card__image-wrapper .multicolumn-card__image--dark {
    display: none;
  }
  [data-scheme=auto] .multicolumn-list__wrapper .multicolumn-card__image-wrapper .multicolumn-card__image--light {
    display: block;
  }
  [data-scheme=auto] .multicolumn-list__wrapper .multicolumn-card__image-wrapper .multicolumn-card__image:only-child {
    display: block !important;
  }
}